.base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.no-headline {
  justify-content: flex-end;
}

.base .close {
  margin-top: calc(-1 * 16px);
    margin-right: calc(-1 * 24px);
    margin-bottom: calc(-1 * 16px);
}
