.base {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
    border: 2px solid #e3e7ec;
    border-radius: 16px;
}

.mega {
  padding: 16px;
}

.giga {
  padding: 24px;
}
