.base.base {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .base.base {
    width: calc(50% - 24px);
    min-height: 185px;
    /* This prevents the cards from awkwardly wrapping if one of them only has one line of text */
    margin-right: 24px;
  }
}

.base *:last-child {
  margin-bottom: 0;
}

.base h2 {
  padding: 0;
  margin-bottom: 24px;
  border: none;
}

.base p {
  margin-top: 0;
}

.base a::after {
  content: " →";
}